.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

li {
  margin: 0;
  list-style: none;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: #f5f5f5;
}

header {
  margin-bottom: 10px;
}

.AppTitle {
  width: 110px;
  font-size: 11px;
  margin: 20px 20px 30px;
  padding: 5px 15px;
  border: 1px solid #f5f5f5;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.Container {
  max-width: 1240px;
  width: 75%;
  padding: 25px 20px;
  margin: 0 auto;
  border: 1px solid #c2c2c2;
  border-radius: 6px;
  overflow: hidden;
}

.AlbumPicture {
  display: block;
  margin: 0 auto;
  max-height: 240px;
  max-width: 65%;
  height: auto;
  width: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.SongDetails {
  text-align: center;
  padding: 0;
}

.SongTitle {
  display: block;
  margin: 10px;
  font-size: 24px;
  font-weight: 400;
}

.SongAlbum {
  display: block;
  margin: 10px;
  font-size: 20px;
  font-weight: 400;
}

.SongArtists {
  display: block;
  margin: 10px;
  font-size: 18px;
  font-weight: 400;
}

.SongArtists ul {
  padding: 0px;
}

.Btn-Select {
  display: block;
  margin: 0 auto;
  padding: 5px 15px;
  background-color: #c2c2c2;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 40px;
}